 <!DOCTYPE HTML>
<html>
	<head>
		<title> Hello everyone </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
	<h2> </h2>
	<div id="first">
	  It is <span class="w"> {{var1}} </span> webpage!
	<a href={% block app %} {% endblock %}> {% block amin %}	 {% endblock %} </a>
	 <p>  </p>
	 </div>
	<div id="second">
	  Date: <span class="w"> {{var3}} / {{var4}} / {{var5}} </span>
	  <p> </p>
	  {% if new_year %}
		Happy new year
	  {% else %}
		Have a good day!
	  {% endif %}
	</div>
	<ul>
		{% for name in names %}
		<li> {{name}} </li>
		{% endfor %}
	</ul>
	<table>
		  <tr>
			<th>Name</th>
			<th>Last name</th>
			<th>birthdate</th>
		  </tr>
		  <tr>
			<td>Amin</td>
			<td>Khoramian</td>
			<td>1988</td>
		  </tr> 
		  <tr>
			<td> <a href="hello.html"> Alireza </a> </td>
			<td>Khoramian</td>
			<td>1991</td>
		  </tr>
		  <tr>
			<td>سید محمد</td>
			<td>اشرفی</td>
			<td>1978</td>
		  </tr>
		  <tr>
			<td>Abdolamir</td>
			<td>Khoramian</td>
			<td>1959</td>
			
		  </tr>
	</table>
	  <p> </p>
	  <form action="{{url_for('chakh')}}" method="post">
		<input type="text" name="name" placeholder="نام خود را وارد کنید">
		<button> Submit </button>
	  </form>
	  <form>
		  <div>
			<input type="text" placeholder="Full Name" name= "name">
			<input type="password" placeholder="Password" name= "password">
			<button> Submit! </button>
		  </div>
		  <p> </p>
		  <div>
			Degree
			<input type="radio" value="bsc" name= "degree"> Bachelor
			<input type="radio" value="msc" name= "degree"> Master of Science
			<input type="radio" value="phd" name= "degree"> PhD.
		  </div>
		  <p> </p>
		  <div>
			<input list="countries" placeholder="Where are you from?" name= "country">
			<datalist id="countries">
				<option value="Iran">
				<option value="Iraq">
				<option value="Russia">
				<option value="Germany">
			</datalist>
		  </div>
	  
	  </form>
	  
	  <ul>
		<li> <a href="#Section1"> Section 1 </a> </li>
		<li> <a href="#Section2"> Section 2 </a> </li>
		<li> <a href="#Section3"> Section 3 </a> </li>
	  </ul>
	<div class="container">
		<div> The hydrological model or rainfall-runoff model is an important tool for understanding hydrological processes and aids
			water resources operation decision-makers (Yilmaz et al., 2012; Yan et al., 2016; Wu J et al., 2019).
		</div>
		<div> The hydrological model or rainfall-runoff model is an important tool for understanding hydrological processes and aids
		water resources operation decision-makers (Yilmaz et al., 2012; Yan et al., 2016; Wu J et al., 2019).
		</div>
		<div>
		The hydrological model or rainfall-runoff model is an important tool for understanding hydrological processes and aids
		water resources operation decision-makers (Yilmaz et al., 2012; Yan et al., 2016; Wu J et al., 2019).
		</div>
		<div>
		The hydrological model or rainfall-runoff model is an important tool for understanding hydrological processes and aids
		water resources operation decision-makers (Yilmaz et al., 2012; Yan et al., 2016; Wu J et al., 2019).
		</div>
		<div>
		The hydrological model or rainfall-runoff model is an important tool for understanding hydrological processes and aids
		water resources operation decision-makers (Yilmaz et al., 2012; Yan et al., 2016; Wu J et al., 2019).
		</div>
		<div>
		The hydrological model or rainfall-runoff model is an important tool for understanding hydrological processes and aids
		water resources operation decision-makers (Yilmaz et al., 2012; Yan et al., 2016; Wu J et al., 2019).
		</div>
	</div>
	<p> </p>
	  <h2 id="Section1"> Section 1 </h2>
	  <div class="content">
		The hydrological model or rainfall-runoff model is an important tool for understanding hydrological processes and aids
		water resources operation decision-makers (Yilmaz et al., 2012; Yan et al., 2016; Wu J et al., 2019). Most frequently used
		hydrologic models have been shown to efficiently incorporate data from rain gauges, while open-access precipitation has also
		been continuously improved and adopted into different modules that evaluate its performance in simulating watershed runoff
		70 (Bhuiyan et al., 2019; Solakian et al., 2019). Among all the various existing hydrologic models, the Soil & Water Assessment
		Tool (SWAT) is widely employed by the scientific community and others interested in watershed hydrology research and
		management (Price et al., 2013; Wang et al., 2017; Li et al., 2018; Qiu et al., 2019). ~ 4000 peer-reviewed papers in reputable
		academic journals worldwide (SWAT literature database, from 1984 to 2020) have used SWAT modeling results to support
		their scientific endeavors. Moreover, a new version (SWAT+) is currently in development that will provide a more flexible
		75 spatial representation of interactions and processes within a watershed (Volk et al., 2009; Gabriel et al., 2014; Ayana et al.,
		2015; Jin et al., 2018). As mentioned above, numerous researchers concur that designing accurate watershed models requires h
		realistic depiction of temporal and spatial precipitation variability. Huang et al. (2019) used hourly, sub-daily, and diurnal
		precipitation data to simulate runoff from Baden-Württemberg state in Germany and found a positive correlation between
		higher rainfall temporal resolution and model performance. As such, hydrological processes simulated by the SWAT model,
		80 that were based on environmental data lacking accurate regional precipitation distribution figures, will unquestionably be
		faulty and unreliable. For example, Lobligeois et al. (2014) used rain-gauge measurements (2,500 stations within an area of
		550,000 km2
		), and Weather radar network data with a spatial resolution of 1km, to simulate runoff from France. Their results
		clearly showed that the higher resolution radar data significantly improved the simulation accuracy.
	 </div>
	 	  <h2 id="Section2"> Section 2 </h2>
	  <div class="content">
		To date, the effect of combined ground-based and satellite-based precipitation estimates on streamflow simulation
		85 accuracy is not well understood, particularly when the data covers a variety of temporal and spatial resolutions. Hence, this
		study aims to elucidate these unknowns. More importantly, hydrologic models are expected to describe internal hydrologic
		processes and subsequently present a unique interpretation of the water balance components (Pellicer-Martínez et al., 2015;
		Tanner & Hughes, 2015; Wang et al., 2018); yet very limited studies have been conducted to investigate the effects of temporal
		and spatial resolution on hydrologic processes or water balance components. Thus, this fundamental issue must be addressed
		90 before hydrologic modeling with open-access precipitation datasets can be utilized at maximum capacity; as without a thorough
		understanding of the water cycle’s inner processes, the hydrologic models may be highly misleading and facilitate
		inappropriate management decisions. Bai & Liu (2018) used an HIMS model to simulate the runoff driven by CHIRPS,
		CMORPH, PERSIANN-CDR, TMPA 3B42, and MSWEP at the source regions of the Yellow River and Yangtze River basins
		in the Tibetan Plateau. They reported that parameter calibration significantly counterbalanced the impact of diverse
		95 precipitation inputs on runoff modeling, resulting in substantial differences in evaporation and storage estimates. Their research
		helps enhance our understanding of how water balance components are impacted by precipitation data and hydrologic model
		parameters. However, evidence for water balance component variations under the influence of different precipitation inputs
		have not been fully investigated. In this study, we aimed to verify the ability of CPC-global and CHIRPS to accurately simulate
		watershed runoff, and analyze how different OPP characteristics modify the hydrological processes simulation.To date, the effect of combined
		ground-based and satellite-based precipitation estimates on streamflow simulation
		85 accuracy is not well understood, particularly when the data covers a variety of temporal and spatial resolutions. Hence, this
		study aims to elucidate these unknowns. More importantly, hydrologic models are expected to describe internal hydrologic
		processes and subsequently present a unique interpretation of the water balance components (Pellicer-Martínez et al., 2015;
		Tanner & Hughes, 2015; Wang et al., 2018); yet very limited studies have been conducted to investigate the effects of temporal
		and spatial resolution on hydrologic processes or water balance components. Thus, this fundamental issue must be addressed
		90 before hydrologic modeling with open-access precipitation datasets can be utilized at maximum capacity; as without a thorough
		understanding of the water cycle’s inner processes, the hydrologic models may be highly misleading and facilitate
		inappropriate management decisions. Bai & Liu (2018) used an HIMS model to simulate the runoff driven by CHIRPS,
		CMORPH, PERSIANN-CDR, TMPA 3B42, and MSWEP at the source regions of the Yellow River and Yangtze River basins
		in the Tibetan Plateau. They reported that parameter calibration significantly counterbalanced the impact of diverse
		95 precipitation inputs on runoff modeling, resulting in substantial differences in evaporation and storage estimates. Their research
		helps enhance our understanding of how water balance components are impacted by precipitation data and hydrologic model
		parameters. However, evidence for water balance component variations under the influence of different precipitation inputs
		have not been fully investigated. In this study, we aimed to verify the ability of CPC-global and CHIRPS to accurately simulate
		watershed runoff, and analyze how different OPP characteristics modify the hydrological processes simulation.
	 </div>
	 	  <h2 id="Section3"> Section 3 </h2>
	  <div class="content">
		The Geographic dataset included the DEM, land use and land cover data (LULC), and soil properties. SRTM 90 m
		resolution data was the DEM used in this study and was provided by the Geospatial Data Cloud (http://www.gscloud.cn/).
		LULC data was obtained by manual visual interpretation based on 2010 Landsat TM/ETM remote sensing images, which were
		135 preprocessed by Beijing Digital View Technology Co., Ltd, with a spatial resolution of 30 m. The data included six primary
		classifications—cultivated land, woodland, grassland, water area, construction land, and unused land, as well as 25 secondary
		classifications. The cultivated land’s classification accuracy was 85 %, and other data classification accuracies reached 75 %.
		The soil data included a soil type distribution map and soil attribute database. The soil type distribution map is a product of
		the second national land survey provided by the Nanjing Institute of Soil Research, Chinese Academy of Sciences. It depicted
		140 a spatial resolution of 1 km and used the FAO-90 soil classification system. Harmonized World Soil Database v1.2, which was
		provided by the Food and Agriculture Organization (FAO), was the soil attribute database used in this study and can be
		downloaded from http://www.fao.org/land-water/databases-and-software/hwsd/zh/. Most soil attribute data can be obtained
		directly from HWSD v1.2, such as soil organic carbon content, soil profile maximum root depth, and soil concrete gradation,
		etc. Parameters that cannot be directly obtained from the HWSD, e.g., texture class, matrix bulk density, field capacity-wilting
		145 point, and saturation hydraulic coefficient, can be calculated from the acquired data using the Soil-Air-Water Field & Pond
		Hydrology model developed by Washington State University
	 </div>
	 <p id="screen-only">
	 It is not for printer
	 </p>
	</body>
</html>
